$bp: 400px;

html {
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    width: 94%;
    height: 88%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    @media (max-width: $bp) {
        width: 95%;
        height: 98%;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
}

.text-container {
    z-index: 1;
    align-self: flex-end;
    width: 60%;
    height: 40%;
    @media (max-width: $bp) {
        width: 100%;
        height: auto;
    }
}

.text {
    color: white;
    padding: 50px 100px;
    @media (max-width: $bp) {
        padding: 10px;
    }
    &__title {
        font-size: 3em;
        font-weight: bold;
        margin: 0 0 16px 10px;
        @media (max-width: $bp) {
            font-size: 1.2em;
        }
    }
    &__content {
        font-size: 1.2em;
        line-height: 1.5em;
        @media (max-width: $bp) {
            font-size: 1em;
        }
    }
}

.form-container {
    z-index: 1;
    align-self: center;
    width: 30%;
    height: 500px;
    @media (max-width: $bp) {
        width: 80%;
        margin-top: 20px;
    }
}

.form {
    height: 100%;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $bp) {
        height: auto;
        padding: 20px;
    }
    &__title {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        @media (max-width: $bp) {
            font-size: 1.2em;
        }
    }
    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $bp) {
            margin-top: 20px;
        }
        &__label {
            font-size: 1.5em;
            margin-bottom: 10px;
            @media (max-width: $bp) {
                font-size: 1em;
            }
        }
        &__input {
            margin-bottom: 20px;
            width: 100%;
            height: 2em;
            padding: 10px;
        }
        &__submit {
            width: 80%;
            padding: 7px 0;
            margin-top: 20px;
            cursor: pointer;
            @media (max-width: $bp) {
                padding: 4px 0;
                margin: 10px 0;
                font-size: 0.8em;
            }
        }
    }
    &__link {
        & a:hover {
            text-decoration: underline;
        }
        @media (max-width: $bp) {
            font-size: 0.8em;
        }
    }
}

.bloc {
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    background-color: rgb(13, 18, 145);
    @media (max-width: $bp) {
        height: 32%;
    }
}